.amount {
  opacity: 0;
  transition: all 0.7s ease;
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
}
.sector:hover .amount {
  opacity: 1;
  transition: all 0.7s ease;
  display: flex;
}
.sector:hover .text {
  opacity: 0;
  transition: all 0.7s ease;
}
